<main>
  <table mat-table [dataSource]="projets" class="mat-elevation-z2">

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom</th>
      <td mat-cell *matCellDef="let projet"> {{projet.nom}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let projet"> {{projet.date}}</td>
    </ng-container>

    <ng-container matColumnDef="heures">
      <th mat-header-cell *matHeaderCellDef> Heures effectuées</th>
      <td mat-cell *matCellDef="let projet">
        <input type="text" [(ngModel)]="projet.heures" [readOnly]="!projet.isEditing"/>
        <button mat-icon-button (click)="editImputation(projet)" *ngIf="!projet.isEditing && !isNotEditable">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="saveImputation(projet)" *ngIf="projet.isEditing">
          <mat-icon>save</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row">
    </tr>
  </table>
  <button (click)="generatePdf()">Imprimer PDF</button>
</main>
