<table mat-table [dataSource]="imputationCompteRendu" class="mat-elevation-z2">

  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef> Nom</th>
    <td mat-cell *matCellDef="let imputation"> {{imputation.nom}}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date</th>
    <td mat-cell *matCellDef="let projet"> {{projet.date}}</td>
  </ng-container>

  <ng-container matColumnDef="heures">
    <th mat-header-cell *matHeaderCellDef> Heures effectuées</th>
    <td mat-cell *matCellDef="let projet">
      <input type="text" [(ngModel)]="projet.heures" [readOnly]="!projet.isEditing"/>
      <button mat-icon-button color="primary" (click)="editImputation(projet)" *ngIf="isImputationEditable(projet)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="saveImputation(projet)" *ngIf="projet.isEditing">
        <mat-icon>save</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row"></tr>

</table>

<button mat-raised-button color="primary" (click)="enregistrerCompteRendu()" *ngIf="isNotEditable">Enregistrer compte Rendu</button>
<button mat-raised-button color="primary" (click)="generatePdf()" *ngIf="!isNotEditable">Imprimer PDF</button>
