<main>
  <div class="container">
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="showUsers(); hideCreation()">Voir la liste des utilisateurs
      </button>
      <button mat-raised-button color="primary" (click)="hideUsers(); showCreation()">Créer un utilisateur</button>
    </div>

    <div class="users" *ngIf="isUserListVisible">
      <div class="search-user">
        <mat-form-field class="form-field">
          <mat-label>Rechercher un utilisateur</mat-label>
          <input matInput type="text" [(ngModel)]="searchText">
          <button matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <div class="button-container">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filter by selecting a project
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field>
              <mat-label>Projets</mat-label>
              <mat-select [(ngModel)]="selectedProjet" (ngModelChange)="onNgModelChange($event)">
                <mat-option [value]="null">-- Select projet --</mat-option>
                <mat-option *ngFor="let projet of projetsExistants" [value]="projet.nom">{{ projet.nom }}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-expansion-panel>
        </div>
      </div>
      <mat-selection-list [multiple]="false" #list [(ngModel)]="selectedUser" (ngModelChange)="onNgModelChange($event)">
        <mat-list-option *ngFor="let user of filteredUsers" [value]="user.nom">
          {{ user.nom }}
        </mat-list-option>
      </mat-selection-list>
      <div class="bouton">
        <button mat-raised-button color="primary" (click)="afficherUtilisateur()">Afiicher l'utilisateur</button>
        <button mat-raised-button color="warn" (click)="supprimerUtilisateur()">Supprimer l'utilisateur</button>
      </div>
    </div>
    <div class="creationUser" *ngIf="isCreationFormVisible">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="pad">

          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input formControlName="nom" matInput placeholder="">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input formControlName="prenom" matInput placeholder="">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <input formControlName="role" matInput placeholder="">
            <mat-icon matSuffix>face</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Projets</mat-label>
            <mat-select formControlName="projets" multiple>
              <mat-option *ngFor="let projet of projetsExistants" [value]="projet.nom">{{ projet.nom }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Mot de passe temporaire</mat-label>
            <input matInput formControlName="motDePasse" [type]="hide ? 'password' : 'text'">
            <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
               [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
          </mat-form-field>
        </div>
        <button mat-raised-button type="submit" color="primary" (click)="onSubmit()"
                style="width:50%; margin-left:25%; margin-top:3%;margin-bottom:7.5%; font-size:24px">
          Ajouter
        </button>
      </form>
    </div>
    <div class="displayUser" *ngIf="isUserVisible">
      <mat-card class="user-card" *ngIf="selectedUser !== null">
        <mat-card-header>
          <!-- Mettez ici les détails de l'utilisateur -->
          <mat-card-title>Information sur l'utilisateur</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- Affichez d'autres détails de l'utilisateur ici -->
          <p></p>
          <p>Nom: {{ findSelectedUser()?.nom }}</p>
          <p>Prénom: {{ findSelectedUser()?.prenom }}</p>
          <p>Role: {{ findSelectedUser()?.role }}</p>
          <p>Manager responsible: {{ findSelectedUser()?.manager }}</p>
          <p>Projets:
            <span *ngFor="let projet of findSelectedUser()?.projets">
        {{ projet }}

      </span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="selectedUser = null;(isUserVisible=!isUserVisible);
          (isUserListVisible=!isUserListVisible)">Retour</button>
          <!-- Ajoutez d'autres actions si nécessaire -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</main>
